*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;
}

body{
background:#000;
color:white;
padding:15px;
}

/* LOGO */
.logo{
text-align:center;
margin-bottom:25px;
}

.logo h1{
font-size:42px;
color:#ff4f9a;
font-weight:bold;
}

.logo p{
color:#ccc;
font-size:15px;
margin-top:5px;
}

/* SEARCH BAR */
.search-box{
width:100%;
padding:14px;
border:none;
border-radius:30px;
background:#111;
color:white;
font-size:16px;
margin-bottom:35px;
outline:none;
}

/* HERO */
.hero{
text-align:center;
padding:40px 10px;
margin-bottom:40px;
}

.hero h2{
font-size:55px;
line-height:1.1;
margin-bottom:20px;
}

.hero p{
color:#ccc;
font-size:20px;
margin-bottom:25px;
}

.hero button{
background:#ff4f9a;
border:none;
padding:16px 40px;
border-radius:40px;
font-size:18px;
color:white;
font-weight:bold;
cursor:pointer;
}

/* PRODUCTS */
.products{
display:grid;
grid-template-columns:1fr;
gap:25px;
margin-top:20px;
}

/* PRODUCT CARD */
.product{
background:#0d0d0d;
border-radius:25px;
overflow:hidden;
box-shadow:0 0 15px rgba(255,79,154,0.15);
transition:0.3s;
}

.product:hover{
transform:translateY(-5px);
}

.product img{
width:100%;
height:300px;
object-fit:cover;
display:block;
}

.product-info{
padding:18px;
}

.product h3{
font-size:28px;
margin-bottom:10px;
}

.product p{
color:#bbb;
font-size:17px;
margin-bottom:15px;
}

.price{
font-size:38px;
font-weight:bold;
color:#ff4f9a;
margin-bottom:20px;
}

.product button{
width:100%;
padding:16px;
border:none;
border-radius:40px;
background:#ff4f9a;
color:white;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

/* CART */
.cart{
margin-top:50px;
background:#111;
padding:25px;
border-radius:25px;
}

.cart h2{
font-size:35px;
margin-bottom:20px;
color:#ff4f9a;
}

.cart-item{
margin-bottom:15px;
padding-bottom:10px;
border-bottom:1px solid #222;
}

.total{
font-size:28px;
font-weight:bold;
margin-top:20px;
color:white;
}

.delivery{
margin-top:15px;
color:#bbb;
line-height:1.5;
font-size:15px;
}

/* WHATSAPP BUTTON */
.whatsapp-btn{
display:block;
width:100%;
text-align:center;
margin-top:25px;
background:#25D366;
padding:16px;
border-radius:40px;
color:white;
font-size:20px;
font-weight:bold;
text-decoration:none;
}

/* REVIEWS */
.reviews{
margin-top:50px;
}

.reviews h2{
font-size:35px;
margin-bottom:25px;
color:#ff4f9a;
}

.review{
background:#111;
padding:20px;
border-radius:20px;
margin-bottom:20px;
}

.review-stars{
font-size:25px;
margin-bottom:10px;
}

.review p{
font-size:17px;
line-height:1.5;
color:#ddd;
}

.review span{
display:block;
margin-top:10px;
color:#ff4f9a;
font-weight:bold;
}

/* FOOTER */
footer{
margin-top:50px;
text-align:center;
color:#777;
padding-bottom:40px;
font-size:16px;
}

/* MOBILE */
@media(min-width:768px){

.products{
grid-template-columns:repeat(2,1fr);
}

.hero h2{
font-size:75px;
}

}